---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>About Me</h1>
		<h2>...and my new Astro site!</h2>

		<p>
			Welcome to my Astro site! I'm a web developer who loves to build fast, modern websites. I'm excited to use Astro to build my new site, and I can't wait to see what I can create with it.
		</p>
	</body>
</html>
