---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}));
const pageTitle = "My Blog";
---

<BaseLayout pageTitle="My Blog">
		<p>
			Welcome to my blog! Here, I'll be sharing my thoughts on web development, design, and more. I hope you enjoy reading my posts!
		</p>
		<ul>
			{allPosts.map((
				post: any) =>
				<BlogPost url={post.url} title={post.frontmatter.title} />
			)}
		</ul>
</BaseLayout>	